<div class="index">
  <header>
    
  </header>
  <form action="/artist-search" method="GET">

    <label for="artistName">Search for an artist</label>
    <input type="text" id="artistName" name="artistName" />

    <button type="submit">Search</button>
  </form>
</div>